extends layout

block content
  h1 Delete: #{book.title}

  if book_copies.length

    p  Delete the following book instances before attempting to delete this book.

    div(style='margin-left:20px;margin-top:20px')

      h4 Book copies

      dl
      each book_inst in book_copies
        dt
          |#{book_inst.imprint}
          a(href=book_inst.url) #{book_inst.id}
       

  else
    p Do you really want to delete this Book ?

    form(method='POST' action='')
      div.form-group
        input.form-control(type='hidden',name='del_book', required='false', value='' )

      button.btn.btn-primary(type='submit') Delete book
